@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Boots And Spurs';
  src: url('../fonts/BootsAndSpurs.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
  font-family: 'Boots And Spurs', 'Tahoma';
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

footer {
  text-align: center;
  padding: 20px;
}

header {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

nav {
  margin-left: 25px;
}

header a {
  color: #fff;
  text-decoration: none;
}



.cta {
  background-color: #BB0000;
  color: #fff;
  text-decoration: none;
  padding: 10px 80px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.cta-sale {
  background-color: #127300;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.9em;
  grid-row: 2/4;
  grid-column: 2;
  min-width: 50px;
  text-align: center;
}

.reviews {
  background-color: #E8E8E8;
}

.products {
  background-color: #FBFBFB;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  font-size: 0.8em;
}

.products img {
  grid-column: -1/1;
}

.products h2,
.products h3, 
.products p {
  grid-column: 1;
  margin: 5px 5px 0 0;
}

.product--sale {
  display: flex;
}

.old-price {
  text-decoration: line-through;
}

/* Home Peage */

.welcome {
  background-image: url('../images/home-header.jpg');
  min-height: 70vh;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome__content {
  position: absolute;
  top: 100px;
  left: 20px;
  text-align: center;
}

.selling-points {
  margin: 50px auto;
}

.selling-points,
.reviews__content {
  display: flex;
  max-width: 1000px;
}

.selling-points > *,
.reviews__content > * {
  flex: 1;
}

.selling-points__images {
  border-radius: 50px;
  width: 100%;
}

.reviews {
  text-align: center;
  padding: 50px;
}

.reviews__content {
  text-align: left;
  margin: auto;
}

.reviews__content div {
  margin: 50px;
}

.reviews__name {
  display: block;
}

.reviews__images {
  width: 80px;
  border-radius: 50%;
  float: right;
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
}

.featured h2 {
  text-align: center;
  grid-column: -1/1;
}

.featured img {
  width: 100%;
}


/* Contact page */
input, 
select, 
textarea {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Nav */

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  list-style: none;
}
nav a {
  text-decoration: none;
  padding: 0 20px 0 0;
}

.active {
  text-decoration: underline;
}

/* adirindack-red page */
.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific figure {
  margin: 0;
}

.product-image {
  width: 100%;
}

.product-specific > * {
  flex: 1;
}

.product-image_thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.product-specific__details {
  padding: 0 20px;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-specific__details a {
  display: block;
  text-align: center;
  width: 120px;
}

/* guitars page */
.guitars {
  max-width: 1000px;
  margin: 50px auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
}

.product-list h2 {
  font-family: 'Tahoma', 'sans-serif';
}

.products img {
  width: 100%;
}
 
